.btn {
  background-color: #e0e0e0;
  border: 0;
  border-radius: pxToRem(4);
  box-shadow: 0 pxToRem(3) pxToRem(1) pxToRem(-2) rgba(0, 0, 0, 0.2),
    0 pxToRem(2) pxToRem(2) 0 rgba(0, 0, 0, 0.14),
    0 pxToRem(1) pxToRem(5) 0 rgba(0, 0, 0, 0.12);
  color: $defaultFontColor;
  cursor: pointer;
  display: inline-flex;
  font-size: pxToRem(14);
  font-weight: 700;
  line-height: 1.75;
  overflow: hidden;
  padding: pxToRem(6) pxToRem(16);
  position: relative;
  text-transform: uppercase;
  user-select: none;

  &:disabled {
    cursor: default;
    color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.12);

    &:hover {
      background-color: rgba(0, 0, 0, 0.12);
      color: rgba(0, 0, 0, 0.26);
      box-shadow: none;
    }
  }

  &:hover {
    box-shadow: 0 pxToRem(2) pxToRem(4) pxToRem(-1) rgba(0, 0, 0, 0.2),
      0 pxToRem(4) pxToRem(5) pxToRem(0) rgba(0, 0, 0, 0.14),
      0 pxToRem(1) pxToRem(10) pxToRem(0) rgba(0, 0, 0, 0.12);
  }

  &:active {
    box-shadow: inset 0 0 pxToRem(7) black;
  }

  &--primary {
    color: white;
    background-color: #1976d2;
  }
}

