.header {
    background-color: white;
    border-bottom: pxToRem(1) solid #ECF0F1;
    box-shadow: 0 pxToRem(1) pxToRem(5) #ECF0F1;
    margin-bottom: pxToRem(48);
    padding: pxToRem(16) pxToRem(32);
    position: sticky;
    top: 0;
}

.navigation {
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style-type: none;
    }
}