.home {
  &__main {
    display: grid;
    max-width: pxToRem(1200);
    margin-left: auto;
    margin-right: auto;
    padding: 0 pxToRem(16);
    grid-template-columns: repeat(auto-fill, minmax(pxToRem(300), 1fr));
    gap: pxToRem(32);
  }

  &__article {
    border: pxToRem(1) solid #ecf0f1;
    border-radius: 0 0 pxToRem(6) pxToRem(6);
    text-align: center;
    transition: box-shadow 0.36s ease-in;

    &:hover {
      box-shadow: pxToRem(7) pxToRem(6) pxToRem(7) $grey;
    }
  }

  &__articleBody {
    padding: pxToRem(16);

    &Title {
      font-size: pxToRem(19);
      font-weight: 700;
      margin: 0;
      padding-bottom: pxToRem(8);
    }

    &Link {
      color: #125392;
      display: inline-block;
      font-size: pxToRem(15);
      margin: pxToRem(16) 0;
      text-decoration: none;

      @extend %hoverLink;
    }
  }

  //TODO: Style later
  &__manualNavigation {
    display: none;
  }

  &__loadMoreButtonWrapper {
    margin: pxToRem(32) pxToRem(16);
    text-align: center;
  }
}
