@import "functions";

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    font: normal 400 pxToRem(16px)/1.33 'Quicksand', Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}