.post {
    max-width: pxToRem(1200);
    margin-left: auto;
    margin-right: auto;
    padding: 0 pxToRem(16);

    &__contentWrapper {
        @include desktop() {
            display: flex;
        }
    }

    &__content {
        @include desktop() {
            padding-right: pxToRem(48);
            width: 70%;
        }
    }

    &__meta {
        @include desktop() {
            border-left: pxToRem(1) solid black;
            padding-left: pxToRem(16);
            padding: 0 0 0 pxToRem(16);
            border-top: none;
        }

        border-top: pxToRem(1) solid black;
        padding-top: pxToRem(16);

        margin-top: pxToRem(16);

        &Content {
            @include desktop() {
            position: static;
            }
        }

        &Share {
            display: flex;
        }

        &ShareButtonsContainer {
            display: flex;
            align-items: center;

            >div {
                cursor: pointer;
                height: pxToRem(20);
                width: pxToRem(38);
                text-align: center;
            }

            svg {
                height: pxToRem(20);
                fill: #d5d5d5;
            }

            .facebook {
                &:hover {
                    svg {
                        fill: #3B5998;
                    }
                }
            }

            .twitter {
                &:hover {
                    svg {
                        fill: #55ACEE;
                    }
                }
            }

            .linkedin {
                &:hover {
                    svg {
                        fill: #0077b5;
                    }
                }
            }

            .mail {
                &:hover {
                    svg {
                        fill: #7D7D7D;
                    }
                }
            }
        }
    }
}