.tagPage {
    @extend %pageContainer;

    &__title {
        text-align: center;
    }

    &__link {
        @extend %link;
    }

    &__listItem {
        margin-bottom: pxToRem(8);
        list-style-type: circle;
    }
}