---
layout: default
---

<main>
    <h1>About Functionalty and Reason</h1>

    <p>
        Functionalty and reason is a personal blog created by Justin Leach.
        Justin has over 10 years of development experience.  He has worked in a 
        variety of filds, including adversting, marketing etc.
    </p>

    <div>
        Justin's skill set

        <ul>
            <li>Html</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Node</li>
            <li>React</li>
            <li>React Native</li>
        </ul>
    </div>

    <figure>
        Image of Justin Leach
    </figure>
</main>