---
layout: default
home: true
---

{% assign posts = site.posts | where: "language", page.language %} {% if
paginator.page %} {% assign offset = paginator.page | minus:1 |
times:paginator.per_page %} {% assign currentPage = paginator.page %}
{% else %}
{% assign offset = 0 %} {% assign currentPage = 1 %} {% endif %}

<main id="homeMain" class="home__main" data-page="{{currentPage}}"
  data-totalPages="{{ paginator.total_pages }}">
  {% for post in site.posts limit:site.paginate offset:offset %}
  <article class="home__article">
    <a href="{{ post.url }}">
      {% if post.image %}
      <img src="/assets/images/{{ post.image }}" alt="{{ post.title }} article" width="100%"/>
      {% else %}
      <img src="http://placekitten.com/300/300" alt="{{ post.title }} article"
        style="width: 100%" />
      {% endif %}
    </a>
    <div class="home__articleBody">
      <h2 class="home__articleBodyTitle">{{ post.title }}</h2>
      <!-- {{post.date | date: '%B %d, %Y'}}  -->

      <div>{{ post.excerpt | strip_html | truncate: 85 }}</div>

      <a href="{{ post.url }}" class="home__articleBodyLink">{{ post.title }}
        post</a>
    </div>
  </article>
  {% endfor %}
</main>

{% assign postCount = site.posts | size %} {% assign postsCovered =
site.paginate | plus:offset %} {% if postsCovered < postCount %} <div
  class="home__loadMoreButtonWrapper">
  <button id="loadMorePosts" class="btn btn--primary" type="button">
    Load more posts
  </button>
</div>
{% endif %}

<div id="manualNavigation" class="home__manualNavigation">
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo;
      Prev</a>
    {% else %}
    <span>&laquo; Prev</span>
    {% endif %} {% for page in (1..paginator.total_pages) %} {% if page ==
      paginator.page %}
    <em>{{ page }}</em>
    {% elsif page == 1 %}
    <a href="{{ '/' | relative_url }}">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{
        page }}</a>
    {% endif %} {% endfor %} {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
    {% else %}
    <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>

<script>
  const loadMoreButton = document.getElementById('loadMorePosts');
  const homeMain = document.getElementById('homeMain');
  const totalPages = parseInt(homeMain.getAttribute('data-totalPages'));
  const storedPageNumber = sessionStorage.getItem('currentPageNumber');

  const loadMorePosts = (pageNumber) => {
    const request = new XMLHttpRequest();
    request.open('GET', pageNumber, true);

    request.onload = function () {
      const resp = this.response;

      const tmp = document.implementation.createHTMLDocument();
      tmp.body.innerHTML = resp;
      const nextPageHtmlData = tmp.body;

      const articles = Array.from(
        nextPageHtmlData.getElementsByTagName('article')
      );
      const articlesLength = articles.length;
      let i = 0;

      for (i; i < articlesLength; i++) {
        homeMain.appendChild(articles[i]);
      }

      homeMain.setAttribute('data-page', pageNumber);
      sessionStorage.setItem('currentPageNumber', pageNumber);
    }

    request.send();

    if (pageNumber === totalPages) {
      loadMoreButton.setAttribute('disabled', true);
      loadMoreButton.innerHTML = 'All Posts Loaded';
    }
  }

  if (storedPageNumber) {
    for (let pageNumber = 2; pageNumber <= parseInt(
        storedPageNumber); pageNumber++) {
      loadMorePosts(pageNumber);
    }
  }

  loadMoreButton.addEventListener('click', function () {
    const nextPage = parseInt(homeMain.getAttribute('data-page')) + 1;
    loadMorePosts(nextPage)
  });
</script>
